[user]
	name = William Jagels
	email = will.jagels@gmail.com
[color]
	ui = true
[push]
	default = simple
[core]
	excludesfile = /home/william/.gitignore_global
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
